<mat-form-field style="width: 350px;" appearence="fill">
    <mat-label>CEP</mat-label>
    <input matInput type="text" placeholder="Ex. 987 654 654 65">
  </mat-form-field>
  <mat-form-field style="width: 350px;" appearence="fill">
    <mat-label>Identificação</mat-label>
    <input matInput type="text" placeholder="Ex. 987 654 654 65">
  </mat-form-field>
  <mat-form-field style="width: 350px;" appearence="fill">
    <mat-label>Logradouro</mat-label>
    <input matInput type="text" placeholder="Ex. 987 654 654 65">
  </mat-form-field>
  <mat-form-field style="width: 350px;" appearence="fill">
    <mat-label>112</mat-label>
    <input matInput type="text" placeholder="Ex. 987 654 654 65">
  </mat-form-field><mat-form-field style="width: 350px;" appearence="fill">
    <mat-label>Complemento</mat-label>
    <input matInput type="text" placeholder="Ex. 987 654 654 65">
  </mat-form-field>
  <mat-form-field style="width: 350px;" appearence="fill">
    <mat-label>Referencia</mat-label>
    <input matInput type="text" placeholder="Ex. 987 654 654 65">
  </mat-form-field>
  <mat-form-field style="width: 350px;" appearence="fill">
    <mat-label>Bairro</mat-label>
    <input matInput type="text" placeholder="Ex. 987 654 654 65">
  </mat-form-field> 
  <mat-form-field style="width: 350px;" appearence="fill">
    <mat-label>Cidade</mat-label>
    <input matInput type="text" placeholder="Ex. 987 654 654 65">
  </mat-form-field>
  <mat-form-field style="width: 350px;" appearence="fill">
    <mat-label>UF</mat-label>
    <input matInput type="text" placeholder="Ex. 987 654 654 65">
  </mat-form-field>
  <button mat-raised-button>SALVAR</button>