<mat-toolbar color="primary">
    <span>
        <a routerLink="/">Ecommerce</a>
    </span>
    <span class="spacer"></span>
    <ul>
        <li>
            <a mat-button routerLinkActive="active-route" routerLink="/">Início</a>

        </li>
        <li>
            <button mat-button [matMenuTriggerFor]="menu">Menu Administrativo</button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="/admin/cadastro-produto"><mat-icon>add_circle</mat-icon> Adicionar Produto</button>
                <button mat-menu-item routerLink="/admin/lista-produtos"><mat-icon>list</mat-icon> Lista de Produtos</button>
                <button mat-menu-item routerLink="/admin/lista-vendas"><mat-icon>format_list_bulleted</mat-icon> Lista de vendas</button>
            </mat-menu>
        </li>

        <li>
            <button mat-icon-button routerLinkActive="active-route" routerLink="/carrinho">
                <mat-icon>add_shopping_cart</mat-icon>
            </button>
        </li>
        
        <li>
            <button mat-icon-button routerLinkActive="active-route" routerLink="/painel-usuario">
                <mat-icon>account_circle</mat-icon>
            </button>
        </li>
        <li>
            <a mat-button routerLinkActive="active-route" routerLink="/login">Login</a>/<a mat-button routerLinkActive="active-route" routerLink="/cadastrar">Cadastrar</a>
        </li>
    </ul>
</mat-toolbar>