<div class="search-bar">
    <div class="custom-search-bar">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Procure por um produto</mat-label>
            <input matInput placeholder="Camisa" value="">
        </mat-form-field>
        <button routerLink="/busca-produto" mat-fab color="primary" aria-label="Example icon button with a delete icon">
            <mat-icon>search</mat-icon>
          </button>
    </div>
</div>


<div class="promotions" *ngIf="promotionsProducts.length != 0">
    <div class="session-title">
        <h1>Promoções</h1>
    </div>
    <div class="flexing">

        <mat-card class="card" *ngFor="let product of promotionsProducts">
            <img mat-card-image src="{{ product.link }}">
            <div class="title-card">
                <h2>{{ product.product }}</h2>
            </div>
            <mat-card-content>
              <h3 class="sale-ofert-before">De: R$ {{ product.price }}</h3>
              <h3 class="sale-ofert-now">Por: R$ {{ product.price }}</h3>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="primary" class="width">Ver produto</button>
            </mat-card-actions>
        </mat-card>

    </div>
    <div class="container-button">
        <button mat-raised-button color="primary" class="button-all">Ver todas as promoções</button>
    </div>
    
</div>

<div class="new" *ngIf="newProducts.length != 0">
    <div class="session-title">
        <h1>Lançamentos</h1>
    </div>
    <div class="flexing">

      <mat-card class="card" *ngFor="let product of newProducts">
          <img mat-card-image src="{{ product.link }}">
          <div class="title-card">
              <h2>{{ product.product }}</h2>
          </div>
          <mat-card-content>
            <h3 class="sale-ofert-now">Por: R$ {{ product.price }}</h3>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary" class="width">Ver produto</button>
          </mat-card-actions>
      </mat-card>

  </div>

    <div class="container-button">
        <button mat-raised-button color="primary" class="button-all">Ver todos os lançamentos</button>
    </div>
</div>

<div class="all">
    <div class="session-title">
        <h1>Todos os produtos</h1>
    </div>
    <div class="flexing">

        <mat-card class="card" *ngFor="let product of allProducts">
            <img mat-card-image src="{{ product.link }}">
            <div class="title-card">
                <h2>{{ product.product }}</h2>
            </div>
            <mat-card-content>
              <h3 class="sale-ofert-now">Por: R$ {{ product.price }}</h3>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="primary" class="width">Ver produto</button>
            </mat-card-actions>
        </mat-card>

    </div>

    <div class="container-button">
        <button mat-raised-button color="primary" class="button-all">Ver todos os produtos</button>
    </div>
</div>
