<div class="search-bar">
    <div class="custom-search-bar">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Procure por um produto</mat-label>
            <input matInput placeholder="Camisa" value="">
        </mat-form-field>
        <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
            <mat-icon>search</mat-icon>
          </button>
    </div>
</div>


<div class="promotions">
    <div class="session-title">
        <h1>Promoções</h1>
    </div>
    <div class="flexing" #scroll>
        <mat-card class="card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
            <div class="title-card">
                <h2>Computador Gamer</h2>
            </div>
            <mat-card-content>
              <h3 class="sale-ofert-before">De: R$ 20,00</h3>
              <h3 class="sale-ofert-now">Por: R$ 12,00</h3>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="primary" class="width">Ver produto</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
            <div class="title-card">
                <h2>Computador Gamer</h2>
            </div>
            <mat-card-content>
              <h3 class="sale-ofert-before">De: R$ 20,00</h3>
              <h3 class="sale-ofert-now">Por: R$ 12,00</h3>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="primary" class="width">Ver produto</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
            <div class="title-card">
                <h2>Computador Gamer</h2>
            </div>
            <mat-card-content>
              <h3 class="sale-ofert-before">De: R$ 20,00</h3>
              <h3 class="sale-ofert-now">Por: R$ 12,00</h3>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="primary" class="width">Ver produto</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
            <div class="title-card">
                <h2>Computador Gamer</h2>
            </div>
            <mat-card-content>
              <h3 class="sale-ofert-before">De: R$ 20,00</h3>
              <h3 class="sale-ofert-now">Por: R$ 12,00</h3>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="primary" class="width">Ver produto</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
            <div class="title-card">
                <h2>Computador Gamer</h2>
            </div>
            <mat-card-content>
              <h3 class="sale-ofert-before">De: R$ 20,00</h3>
              <h3 class="sale-ofert-now">Por: R$ 12,00</h3>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="primary" class="width">Ver produto</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
            <div class="title-card">
                <h2>Computador Gamer</h2>
            </div>
            <mat-card-content>
              <h3 class="sale-ofert-before">De: R$ 20,00</h3>
              <h3 class="sale-ofert-now">Por: R$ 12,00</h3>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="primary" class="width">Ver produto</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
            <div class="title-card">
                <h2>Computador Gamer</h2>
            </div>
            <mat-card-content>
              <h3 class="sale-ofert-before">De: R$ 20,00</h3>
              <h3 class="sale-ofert-now">Por: R$ 12,00</h3>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="primary" class="width">Ver produto</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
            <div class="title-card">
                <h2>Computador Gamer</h2>
            </div>
            <mat-card-content>
              <h3 class="sale-ofert-before">De: R$ 20,00</h3>
              <h3 class="sale-ofert-now">Por: R$ 12,00</h3>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="primary" class="width">Ver produto</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
            <div class="title-card">
                <h2>Computador Gamer</h2>
            </div>
            <mat-card-content>
              <h3 class="sale-ofert-before">De: R$ 20,00</h3>
              <h3 class="sale-ofert-now">Por: R$ 12,00</h3>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="primary" class="width">Ver produto</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
            <div class="title-card">
                <h2>Computador Gamer</h2>
            </div>
            <mat-card-content>
              <h3 class="sale-ofert-before">De: R$ 20,00</h3>
              <h3 class="sale-ofert-now">Por: R$ 12,00</h3>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="primary" class="width">Ver produto</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
            <div class="title-card">
                <h2>Computador Gamer</h2>
            </div>
            <mat-card-content>
              <h3 class="sale-ofert-before">De: R$ 20,00</h3>
              <h3 class="sale-ofert-now">Por: R$ 12,00</h3>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="primary" class="width">Ver produto</button>
            </mat-card-actions>
        </mat-card>

        
    </div>
    <div class="container-button">
        <button mat-raised-button color="primary" class="button-all">Ver todas as promoções</button>
    </div>
    
</div>

<div class="new">
    <div class="session-title">
        <h1>Lançamentos</h1>
    </div>
    <div class="flexing">
        <mat-card class="card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
            <div class="title-card">
                <h2>Computador Gamer</h2>
            </div>
            <mat-card-content>
              <h3 class="sale-ofert-now">Por: R$ 12,00</h3>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="primary" class="width">Ver produto</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
            <div class="title-card">
                <h2>Computador Gamer</h2>
            </div>
            <mat-card-content>
              <h3 class="sale-ofert-now">Por: R$ 12,00</h3>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="primary" class="width">Ver produto</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
            <div class="title-card">
                <h2>Computador Gamer</h2>
            </div>
            <mat-card-content>
              <h3 class="sale-ofert-now">Por: R$ 12,00</h3>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="primary" class="width">Ver produto</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
            <div class="title-card">
                <h2>Computador Gamer</h2>
            </div>
            <mat-card-content>
              <h3 class="sale-ofert-now">Por: R$ 12,00</h3>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="primary" class="width">Ver produto</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
            <div class="title-card">
                <h2>Computador Gamer</h2>
            </div>
            <mat-card-content>
              <h3 class="sale-ofert-now">Por: R$ 12,00</h3>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="primary" class="width">Ver produto</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
            <div class="title-card">
                <h2>Computador Gamer</h2>
            </div>
            <mat-card-content>
              <h3 class="sale-ofert-now">Por: R$ 12,00</h3>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="primary" class="width">Ver produto</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
            <div class="title-card">
                <h2>Computador Gamer</h2>
            </div>
            <mat-card-content>
              <h3 class="sale-ofert-now">Por: R$ 12,00</h3>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="primary" class="width">Ver produto</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
            <div class="title-card">
                <h2>Computador Gamer</h2>
            </div>
            <mat-card-content>
              <h3 class="sale-ofert-now">Por: R$ 12,00</h3>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="primary" class="width">Ver produto</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
            <div class="title-card">
                <h2>Computador Gamer</h2>
            </div>
            <mat-card-content>
              <h3 class="sale-ofert-now">Por: R$ 12,00</h3>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="primary" class="width">Ver produto</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
            <div class="title-card">
                <h2>Computador Gamer</h2>
            </div>
            <mat-card-content>
              <h3 class="sale-ofert-now">Por: R$ 12,00</h3>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="primary" class="width">Ver produto</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
            <div class="title-card">
                <h2>Computador Gamer</h2>
            </div>
            <mat-card-content>
              <h3 class="sale-ofert-now">Por: R$ 12,00</h3>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="primary" class="width">Ver produto</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
            <div class="title-card">
                <h2>Computador Gamer</h2>
            </div>
            <mat-card-content>
              <h3 class="sale-ofert-now">Por: R$ 12,00</h3>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="primary" class="width">Ver produto</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
            <div class="title-card">
                <h2>Computador Gamer</h2>
            </div>
            <mat-card-content>
              <h3 class="sale-ofert-now">Por: R$ 12,00</h3>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="primary" class="width">Ver produto</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
            <div class="title-card">
                <h2>Computador Gamer</h2>
            </div>
            <mat-card-content>
              <h3 class="sale-ofert-now">Por: R$ 12,00</h3>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="primary" class="width">Ver produto</button>
            </mat-card-actions>
        </mat-card>

    </div>

    <div class="container-button">
        <button mat-raised-button color="primary" class="button-all">Ver todos os lançamentos</button>
    </div>
</div>

<div class="all">
    <div class="session-title">
        <h1>Todos os produtos</h1>
    </div>
    <div class="flexing">
        <mat-card class="card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
            <div class="title-card">
                <h2>Computador Gamer</h2>
            </div>
            <mat-card-content>
              <h3 class="sale-ofert-now">Por: R$ 12,00</h3>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="primary" class="width">Ver produto</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
            <div class="title-card">
                <h2>Computador Gamer</h2>
            </div>
            <mat-card-content>
              <h3 class="sale-ofert-now">Por: R$ 12,00</h3>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="primary" class="width">Ver produto</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
            <div class="title-card">
                <h2>Computador Gamer</h2>
            </div>
            <mat-card-content>
              <h3 class="sale-ofert-now">Por: R$ 12,00</h3>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="primary" class="width">Ver produto</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
            <div class="title-card">
                <h2>Computador Gamer</h2>
            </div>
            <mat-card-content>
              <h3 class="sale-ofert-now">Por: R$ 12,00</h3>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="primary" class="width">Ver produto</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
            <div class="title-card">
                <h2>Computador Gamer</h2>
            </div>
            <mat-card-content>
              <h3 class="sale-ofert-now">Por: R$ 12,00</h3>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="primary" class="width">Ver produto</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
            <div class="title-card">
                <h2>Computador Gamer</h2>
            </div>
            <mat-card-content>
              <h3 class="sale-ofert-now">Por: R$ 12,00</h3>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="primary" class="width">Ver produto</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
            <div class="title-card">
                <h2>Computador Gamer</h2>
            </div>
            <mat-card-content>
              <h3 class="sale-ofert-now">Por: R$ 12,00</h3>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="primary" class="width">Ver produto</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
            <div class="title-card">
                <h2>Computador Gamer</h2>
            </div>
            <mat-card-content>
              <h3 class="sale-ofert-now">Por: R$ 12,00</h3>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="primary" class="width">Ver produto</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
            <div class="title-card">
                <h2>Computador Gamer</h2>
            </div>
            <mat-card-content>
              <h3 class="sale-ofert-now">Por: R$ 12,00</h3>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="primary" class="width">Ver produto</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
            <div class="title-card">
                <h2>Computador Gamer</h2>
            </div>
            <mat-card-content>
              <h3 class="sale-ofert-now">Por: R$ 12,00</h3>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="primary" class="width">Ver produto</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
            <div class="title-card">
                <h2>Computador Gamer</h2>
            </div>
            <mat-card-content>
              <h3 class="sale-ofert-now">Por: R$ 12,00</h3>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="primary" class="width">Ver produto</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
            <div class="title-card">
                <h2>Computador Gamer</h2>
            </div>
            <mat-card-content>
              <h3 class="sale-ofert-now">Por: R$ 12,00</h3>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="primary" class="width">Ver produto</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
            <div class="title-card">
                <h2>Computador Gamer</h2>
            </div>
            <mat-card-content>
              <h3 class="sale-ofert-now">Por: R$ 12,00</h3>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="primary" class="width">Ver produto</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
            <div class="title-card">
                <h2>Computador Gamer</h2>
            </div>
            <mat-card-content>
              <h3 class="sale-ofert-now">Por: R$ 12,00</h3>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="primary" class="width">Ver produto</button>
            </mat-card-actions>
        </mat-card>

    </div>

    <div class="container-button">
        <button mat-raised-button color="primary" class="button-all">Ver todos os produtos</button>
    </div>
</div>
