<div class="container">
    <h2>Alterar produto</h2>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Link de foto do produto</mat-label>
        <input matInput placeholder="Ex. Pizza">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Nome do produto</mat-label>
        <input matInput placeholder="Ex. Pizza">
    </mat-form-field>
    <mat-form-field class="example-mid-width" appearance="fill">
        <mat-label>Preço do produto</mat-label>
        <input matInput type="number" placeholder="Ex. Pizza">
    </mat-form-field>
    <mat-form-field class="example-mid-width" appearance="fill">
        <mat-label>Máximo de parcelas</mat-label>
        <input matInput type="number" placeholder="Ex. Pizza">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Descrição do produto</mat-label>
        <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field>
    <div class="buttons">
        <button mat-raised-button color="warn" (click)="close()">Cancelar</button>
        <button mat-raised-button class="color-confirm" (click)="editar()">Editar</button>
    </div>
</div>
