<div class="container">
    <h1>ECOMMERCE</h1>
    <div class="container-inputs">
        <div class="container-login">
            <h1>FAÇA SEU LOGIN...</h1>
            <div class="inputs">
                <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" [(ngModel)]="user.email" placeholder="teste@gmail.com">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Senha</mat-label>
                    <input matInput type="password" [(ngModel)]="user.password" placeholder="********">
                </mat-form-field>
                <button mat-raised-button color="primary" (click)="loginUser()">Logar</button>
                <a (click)="openDialog()">Esqueci minha senha</a>
            </div>
        </div>
        <button id="cadastrar" mat-raised-button color="primary" [routerLink]="['/cadastrar']">Cadastrar-se</button>
    </div>
</div>