<div class="title">
    <h2>Lista de produtos do sistema.</h2>
</div>
<mat-card class="width">
    <table mat-table [dataSource]="dataSource" class="width-full">

        <ng-container matColumnDef="Produto">
            <th mat-header-cell *matHeaderCellDef> Produto </th>
            <td mat-cell *matCellDef="let row"> {{row.produto}} </td>
        </ng-container>

        <ng-container matColumnDef="Preço">
            <th mat-header-cell *matHeaderCellDef> Preço </th>
            <td mat-cell *matCellDef="let row">R$ {{row.preco}} </td>
        </ng-container>

        <ng-container matColumnDef="Max_parcelas">
            <th mat-header-cell *matHeaderCellDef> Máximo parcelas </th>
            <td mat-cell *matCellDef="let row">{{row.max_parcelas}} </td>
        </ng-container>

        <ng-container matColumnDef="Ações">
            <th class="flex-end" mat-header-cell *matHeaderCellDef> Ações </th>
            <td class="flex-end" mat-cell *matCellDef="let row">
                <button mat-icon-button class="color-button" (click)="openDialogEdit()">
                    <mat-icon>mode_edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="openDialogDelete()">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</mat-card>